.banner {
  top: var(--navbar-static-height);
  position: fixed;
  right: 40px;
  left: auto;
  z-index: 10;
  transition: var(--standard-animation);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner a {
  padding-top: 10px;
  font-family: jetBrainsMonoLight;
  transition: var(--standard-animation);
}

.banner a:hover {
  color: var(--hover-colour);
  padding-top: 13px;
}

.banner:before {
  writing-mode: horizontal-tb;
  text-orientation: sideways;
  content: "";
  height: 90px;
  width: 1px;
  display: block;
  background-color: var(--page-line-color);
}
