.about {
  padding: 250px 0px 250px 0px;
  height: 100vh;
}

.about-big {
  display: flex;
  font-family: var(--font-big);
  font-size: 85px;
  flex-direction: column;
  /* word-spacing: -20px; */
}

.about-hello {
  line-height: 60px;
}

.about-hello:after {
  content: ",";
  margin-left: 0px;
}

.about-small {
  margin-top: 20px;
  font-size: 28px;
  font-family: var(--font-subheading);
  padding-right: 250px;
  letter-spacing: 1px;
}
