.tooltip {
  text-decoration: none;
  position: relative;
  transition: var(--standard-animation);
}

.tooltip span {
  display: none;
}

.tooltip:hover {
  cursor: pointer;
}

.tooltip:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
}
